
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Muli:wght@400;500;600;700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: 0.3s;
	scroll-behavior: smooth;
	outline: none;
	border: none;
	font-family:Muli;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #05133a;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	font-size: 1.4rem;
	margin-top: 30px;
	line-height: 35px;
	font-weight: 300;
	font-family: Muli;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	letter-spacing: .2rem;
	text-align: center;
	color: #05133a;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: #05133a;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	border-radius: 3px;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
	border: 2px solid crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	transition: .3s ease background-color;
}

#offc{
	margin: 0 21%;
	color: rgb(1, 22, 39);
	font-size: 20px;
	font-weight: 800;
	font-family: Montserrat;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 15px 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(1, 22, 39);
	width: 100%;
	height: 120vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
}
#header .nav-list ul.active {
	left:0%;
}
#header .nav-list ul a {
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: #05133a;
	border-width: 0px;
    border:none;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	filter: blur(1px);
	font-size: 7rem;
	letter-spacing: 70px;
	z-index: -1;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color:coral;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
    border: none;
    margin: 15% 0;
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: none;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 5px;
	width: 40px;
	left: 0;
	margin: 3px 0;
	transition: 0.7s;
	position: relative;
	background-color: rgb(1, 22, 39);
	z-index: -1;
	border: none;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 80%;
	left: 0;
	border: none;
	background-color: rgb(1, 22, 39);
	transition: 0.7s;
}

#header .hamburger .bar::after { 
	background-color: transparent;
}
#header .hamburger .bar::after {
	top: 12px;
	height: 5px;
}
#header .hamburger .bar::before {
	bottom: 12px;
	height: 5px;
}
#header .hamburger.active .bar::before {
	transition: 0.5s;
	bottom: 1px;
	transform: rotate(-45deg);
	background-color: #fff;
}
#header .hamburger.active .bar::after {
	transition: 0.5s;
	top: 0px;
	transform: rotate(45deg);
	background-color: #fff;
}
/* End Header section */
#image {
	float: right;
	height: 500px;
	width: 500px;
	margin: -90% -126%;
}

/* Hero Section */
#hero {
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	/*
	background-color: #eeeeee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23eeeeee'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f7f7f7'/%3E%3Cstop offset='1' stop-color='%23eeeeee'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform='translate(0 435)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-57.6 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    */
    background-color: #fff;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 5.5rem;
	position: relative;
	color: transparent;
}

#hero h1 {
	color:rgb(1, 22, 39);
}


/* End Hero Section */

/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1300px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px 150px;
	border-bottom: 2.5px solid white;
	border-radius: 20px;
	box-shadow: 0px 0px 18px 0 #0000002c;
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#services .service-item:hover {
	border-bottom: 2.5px solid lightgray;
}

#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 1;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: #05133a;
	margin-bottom: 10px;
}
/* End Services Section */

#services .service-item:hover #sc {
	margin: 10px 0px;
}

#sc {
	width: 70px;
	height: 70px;
	margin: 15px 0px;
}
/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
	font-size: 40px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 5px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .7;
}
#projects .project-img img {
	transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.05);
}
/* End Projects section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 0px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid rgb(1, 22, 39);
	z-index: -1;
}
/* End About Section */

/* contact Section 
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#contact .contact-items {
	width: 400px;
}
#contact .contact-item {
	width: 80%;
	text-align: center;
	border-radius:5px;
	padding: 5% 5%;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
i {
	font-size: 15px;
	color: lightgray;
	font-weight: inherit;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */


/* Keyframes */
/*
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
*/
#links {
	color: rgb(255, 255, 255);
}
#links:hover {
	margin: 0 1%;
	color: lightgray;
}
#lk {
	color: #05133a;
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	* {
		box-sizing: border-box;
	}
	h1.section-title {
		font-size: 6rem;
		
	}
	.icon-scroll {
		cursor: none;
	}
	.con {
		cursor: none;
	}
	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid rgb(1, 22, 39);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin:2% 0;
		flex-direction: column;
		padding: 5% 5%;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
		text-transform: lowercase;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: center;
		padding-left: 0px;
	}
	#header .nav-list ul {
		transition: 0.7s;
		width: 105%;
		background-color: rgb(1, 22, 39);
	}

	#header .nav-list ul li a {
		color: #fff;
	}
	#header .nav-list ul li:hover a {
		color: #fff;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	* {
		box-sizing: border-box;
	}
	#header .nav-list ul li a {
		color: #05133a;
		text-transform: none;
	}
	#header .nav-list ul li a:hover {
		color: coral;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* hadi Z1*/
@media only screen and (max-width: 1000px) {
	#image {
		width: 400px;
		height: 400px;
		margin: -97% -170%;
	}
}
/**/
@media only screen and (max-width:1200px) {
	#image {
		width: 400px;
		height: 400px;
		margin: -97% -120%;
	}
	* {
		box-sizing: border-box;
	}
}
/* hadi Z2 */
@media only screen and (max-width: 990px) {
	#image {
		height: 370px;
		width: 370px;
		margin:-95% -100%;
	}
}
/**/
/* End  Media Query For Desktop */

@media only screen and (max-width: 900px) {
	#header .nav-list ul {
		transition: 0.7s;
		width: 105%;
		background-color: rgb(1, 22, 39);
	}
	* {
		box-sizing: border-box;
	}
	#header .nav-list ul a {
		color: white;
		cursor: none;
	}
	#myBtn{
		cursor: none;
	}
	#op{
		cursor: none;
	}
	.brand a {
		cursor: none;
	}
	#header .nav-list ul {
		margin: -10% 0;
	}
	#header .nav-list ul li:hover a {
		color: #fff;
	}
	#header {
		width: 100%;
	}
	#image {
		display: none;
	}
	.section-title {
		font-weight: 800;
	}
}


#contact .contact {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#myBtn {
  opacity:0; /* Hidden by default */
  width: 53px;
  text-align: center;
  background-color: transparent;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 22px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: red; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  transform: rotateY(180deg);
  border-radius: 30px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition: 0.2s;
}

#myBtn:hover {
	margin: 0.3% 0;
}
@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.con {
    position: relative;
    display: flex;
	align-items: center;
    justify-content: center;
    opacity: 0.7;
}
	
.icon-scroll,
.icon-scroll::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icon-scroll {
    width: 30px;
    height: 55px;
    border: 2px solid rgb(1, 22, 39);
    border-radius: 25px;
    cursor: default;
    bottom: 6rem;
    box-shadow: 0 0 5px #ccc;
}

.icon-scroll::before {
    content: '';
    width: 6px;
    height: 6px;
    background: rgb(1, 22, 39);
    margin-left: -2.2px;
    top: 10px;
    border-radius: 50%;
    animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.5);
    }
    10% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(30px) scale(0.5);
    }
}
